<!DOCTYPE html>
<html lang="en">

<head>
    <!-- include header -->
    <%- include('include/_header')%>
    <!-- /include header -->

</head>

<body>
    <div class="main_container">
        <!-- sidebar  -->
        <aside class="side_bar">
            <!-- include sidebar -->
            <%- include('include/_side_bar')%>
                <!-- /include sidebar -->

        </aside>
        <!-- main_section  -->
        <section class="main_section">
            <!-- include mainsection -->
            <%- include('include/_main_section')%>
                <!-- /include mainsection -->
        </section>
    </div>


    <!-- ............  -->

        <!-- include addEmployee -->
        <%- include('include/_add_employee')%>
        <!-- /include addEmployee -->

    <!-- ............  -->

    <!-- .....end.......  -->

        <!-- include editEmployee -->
        <%- include('include/_edit_employee')%>
        <!-- /include editEmployee -->

    <!-- .....end.......  -->


    <!-- .....delete.......  -->

        <!-- include editEmployee -->
        <%- include('include/_delete_employee')%>
        <!-- /include editEmployee -->

    <!-- .....delete.......  -->

            <script src="js/script.js"></script>

</body>

</html>